.hero-container {
    display: flex;
    gap: 1em;
}

.hero-container img {
    width: 100%;
    max-width: 295px;
}

@media (max-width: 600px) {
    .items-description p {
   font-size: 0.8rem;
    }
     .shop_now{
    font-size: 0.8rem;
    }
}



