
.cart-section {
width: calc(100% - 7em);
padding: 6em;
margin: 0px auto;
}

.cart-Container .cart_item {
    margin-top: 7em 0;
    margin-bottom: 2em;
    display: flex;
    gap: 1em;
    max-width: 35em;
  }
  
  .cart-quantity {
    display: flex;
    gap: 5em;
  }

  .empty {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border: 1px solid rgb(247, 247, 247);
  }

  .empty_container {
    background-color: white;  
    width: 25em;
    margin: 8em auto 0 auto;
    padding: 3em;
    box-shadow: 1px 2px 3px 1px ;
    border-radius: 2px;
  }
  
  .empty h3 {
    font-weight: 700;
  }

  .check_out {
  
  }

  footer .check_out {
    display: flex;
    justify-content:space-between;
    align-items:center;  
    width: 100%;
    max-width: 30em;
  }

  hr{
      width: 100%;
      max-width: 30em;
  }