.product_item_container {
  padding: 6em 1.5rem;
  z-index: 0;
  border: 1px solid red;
}

@media (max-width: 800px) {
  .product_item_container {
    padding: 6em 1rem;
  }
}

/* .divider {
  display: flex;
  align-content: center;
  height: 3.125rem;
  margin-top: 1.25rem;
  padding: 0 0.9375rem;
  border-radius: 0.3125rem;
  background: #f0f3f1d5
    url(https://res.cloudinary.com/staging-konga-com/image/upload/f_auto,q_auto/v1654791685/assets/images/homepage/Bg-Icons.png);
  color: white;
} */

.products-center {
  padding: 8px 0;
  padding-bottom: 2em;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.product-material-footer {
  min-height: 500px;
  height: 100px;
  width: 100%;
}

 h4 {
   letter-spacing: 1;
  padding-top: 1em;
}
/* sponsored product section */

