.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: 30em;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
}

.showform {
  visibility: visible;
}

input {
  margin-bottom: 0.5em;
  padding: 0.7em  0  0.7em 0.5em;
  width: 100%;
  max-width: 500px;
  border-radius: var(--mainBorderRadius);
  border: 1px solid var(--darkGrey);
}

input:focus {
  color: gray;
}

@media (max-width: 900px) {
  input {
    padding: 0.7em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.btn_search {
  border: none;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-radius: var(--mainBorderRadius);
  margin-left: 0.8em;
  height: 35px;
}

.btn_search:hover {
  background-color: #f8b470de;
}

@media (max-width: 900px) {
  .search-form {
    width: 25em;
  }  

  .btn_search {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 35px;
  }
}

@media (max-width: 780px) {
  .search-form {
    width: 90vw;
    max-width: 80em;
  }

  input {
    width: 100;
    max-width: 900px;
  }

  .btn_search {
    height: 36px;
  }

}

