
li {
  /* display: list-item;
    text-align: -webkit-match-parent; */
}

.deal_items .items {
  background-color: #fff;
  list-style-type: none;
  flex-shrink: 0;
  /* border: 1px solid green; */
}

.deal_items .items:hover {
  box-shadow: 0 0 0.5rem rgba(31, 30, 30, 0.274);

}


@media only screen and (min-width: 992px) {
  .deal_items .items {
    /* width: calc(20% - 1.125rem); */
    float: left;
    /* margin-left: 0.9375rem; */
  }
}

@media (min-width: 768px) {
  .deal_items .items {
    margin: 0.46875rem;
    width: 100%/3;
    width: calc(33.33333% - 0.9375rem);
  }
}

.deal_items .list {
  flex-shrink: 0;
}

.deal_item_container .link {
  cursor: pointer;
  padding: 0.9375rem;
  position: relative;
  width: 100%;
  transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
}

@media screen and (min-width: 768px) {
  .deal_item_container .link {
    /* height: 9.0625rem; */
  }

}

@media (max-width: 800px) {
.deal_item_container .link {
  flex-direction: column;
  /* width: 20em; */
  
}

}

.deal_item_container .discount {
  border-bottom-right-radius: 4.0625rem;
  border-top-right-radius: 4.0625rem;
  color: #fff;
  display: inline-block;
  font-size: 0.625rem;
  font-weight: 600;
  left: 0;
  padding: 0.5rem 0.5rem 0.625rem;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0.625rem;
  z-index: 0;
  background-color: #ff3b3b;
}

.picture_section {
  /* border: 1px solid red; */
  /* display: block; */
  height: 6.25rem;
}

@media screen and (min-width: 768px) {
  .picture_section {
    /* height: 12.5rem; */
    padding-right: 0.625rem;
  }
}

.picture_image {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: auto;
  text-indent: -624.9375rem;
  max-width: 100%;
}

.picture_image img {
  /* overflow-clip-margin: content-box;
      overflow: clip; */
  /* overflow-x: ;
      overflow-y: ; */
}

@media (max-width: 463px) {
  .product_item_container {
    padding: 6em 1rem;
  }
}

.div {
  overflow-x: scroll;
}

.hero-title {
  margin-top: 1em;
}

.main-items {
  letter-spacing: 0.1em;
  font-weight: 500;
  height: 1.875rem;
  margin: .3125rem 0 .625rem;
}

.main-items h3 {
  /* display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px; */
}

@media (min-width: 768px) {
  .main-items {
    font-size: 0.9375rem;
  }
}

@media (max-width: 768px){
  .main-items {
  font-size: 0.9375rem;

  }
}

.main-items-price-section {
  /* border: 1px solid red; */
  border: 0;
  padding: 0;
  line-height: 1.2rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

@media (min-width: 768px) {
  .main-items-price-section {
    font-size: 1.25rem;
  }
}

.tag {
  font-weight: 700;
}

@media (min-width: 768px) {
  .tag {
    font-size: 1.25rem;
  }
}

.bonus {
  margin-left: 0.3125rem;
  opacity: 0.7;
  text-decoration: line-through;
}

@media (min-width: 768px) {
  .bonus {
    font-size: 0.875rem;
  }
}

.main-items-price-section:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .save-tag {
    display: block;
  }
}

.save-tag {
  color: #33b27b;
  display: block;
  margin: 0.125rem 0;
}

@media (min-width: 768px) {
  .save-tag {
    font-size: 0.75rem;
    font-weight: 600;
  }
}

.space {
  margin-top: 0.625rem;
  display: flex;
  justify-content: space-between;
}

.items .main-items-price .tag {
  /* border: 1px solid red; */
}
