footer {
  color: white;
  background-color: rgb(17, 17, 17);
}

.footer-head {
  background-color: rgb(36, 35, 35);
  padding: 0 1em;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.social-container {
  display: flex;
  /* justify-content: space-between; */
  /* gap: 1em; */
  width: 100%;
}

/* flex-wrap: wrap; */
.social {
  display: flex;
  align-items: center;
  gap: 0.8em;
  width: 100%;
}

.social .logo{
  /* font-size: 1rem; */
  /* color:white; */
}

.social-connect p {
  /* line-height: 1; */
  font-weight: 600;
}

.nav-social {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

li {
  display: flex;
  list-style: none;
  text-decoration: none;
}

.link-connect {
  color: white;
}

/* best deal */
.best-deal {
  display: flex;
  width: 80%;
  max-width: 510px;
  /* height: 95px; */
}

.best-deal-desc h4 {
  margin:0;
}

.best-deal p {
  text-align: left;
  color: white;
  font-size: 1rem;
}

.form-section {
  display: flex;
  align-items: center;
}

.subscribe {
  width:100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 40px;
}

.btn-submit {
  height: 40px;
  padding: 0 0.3em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgb(255, 71, 157);
  border: none;
  cursor: pointer;
}

.btn-submit:hover{
  background-color: rgb(245, 101, 168);

}

.footer-other {
  display: flex;
  gap: 2em;
  padding: 0.5em 2em;
}

.others {
  margin-top: 1em;
}

.others h5 {
  font-weight: 500;
}

.link{
  color:rgb(146, 135, 135);
}

.link:hover{
  color:rgb(168, 158, 158);
}

footer p {
  text-align: center;
}


/* media */
@media(max-width: 1000px){
  .social {
    font-size: 0.8rem;
  }
  .best-deal {
    flex-direction: column;
    }
}

@media (min-width: 1000px) {
  .best-deal {
    height: 100px;
  }

  .best-deal-desc {
    padding: 0;

  }  .best-deal-desc h4 {
    margin:0;
  }
}

@media(max-width: 780px) {
  .social-container {
  display: flex;
  flex-wrap: wrap;
}

.circle {
 display: none;
 
}

.social {
  width: 50%;
}

.best-deal-desc p {
  margin:0;
}
}

@media (max-width: 570px){
  .social-container {
    gap: 1em;
  }

  .social {
    width: auto;
  }

  .social-container {
    flex-direction: column;
    flex-wrap: nowrap;
    /* width: auto; */
  }
  
  .social-connect {
    /* display: flex; */
    /* align-items: center; */
  }
  
  .nav-social {
    display: flex;
    align-items: center;
  }
  
  .nav-social p{
    font-size: 0.6rem;
    margin-bottom: -0.1em;
  }
}

@media (max-width: 480px) {
  .footer-head {
    flex-direction: column-reverse;
  padding: 0;
  }

  .social-container {
    flex-direction: row;
    gap: 0.1em;
    flex-wrap: wrap;
  }

  .best-deal {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
  }
}