footer {
  color: white;
  background-color: rgb(17, 17, 17);
}

.footer-head {
  background-color: rgb(36, 35, 35);
  padding: 0 1em;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}

.social-container {
  display: flex;
  gap: 1em;
  width: 100%;
}

/* flex-wrap: wrap; */
.social {
  display: flex;
  align-items: center;
  width: 100%;

}

.social .logo {
  /* font-size: 1rem; */
  /* color:white; */
}

.social-connect p {
  font-weight: 600;
  
}

.nav-social {
  display: flex;
  /* gap: 0.5em; */
  flex-wrap: wrap;
}

li {
  display: flex;
  list-style: none;

  text-decoration: none;
}

.link-connect {
  color: white;
  
}

/* best deal */
.best-deal {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 510px;

}

.best-deal-desc h4 {
  margin: 0;
  font-size: 1.5rem;
}

.best-deal p {
  text-align: left;
  color: white;
  font-size: 1rem;
}

.form-section {
  display: flex;
  align-items: center;
}

.subscribe {
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 40px;
}

.btn-submit {
  height: 40px;
  padding: 0 0.3em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ff479d;
  border: none;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: rgb(245, 101, 168);
}

.footer-other {
  display: flex;
  gap: 2em;
  padding: 0.5em 2em;
}

.others {
  margin-top: 1em;
}

.others h5 {
  font-weight: 500;
  font-size: 1rem;
}

.link {
  color: rgb(146, 135, 135);
  font-size: 1rem;
}

.link:hover {
  color: rgb(168, 158, 158);
}

footer p {
  text-align: center;
}

/* media */
@media (max-width: 1000px) {
  .social {
    font-size: 0.8rem;
  }

  .best-deal {
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .best-deal {
    height: 100px;
  }

  .best-deal-desc {
    padding: 0;
  }
  .best-deal-desc h4 {
    font-size: 1.3rem;
    margin: 0;
  }
}

@media (max-width: 785px) {
  .social-container {
    flex-wrap: wrap;
  }

  .nav-social {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 1.5em;
  }

  .nav-social p{
    padding-right: 1rem ;
  }
   
  .circle {
    display: none;
  }

  .best-deal-desc h4 {
    font-size: 1.2rem;
  }

  .best-deal-desc p {
    font-size: 0.8rem;
    margin: 0;
  }

  footer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 661px) {
  .social-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 570px) {
  .social-container {
    gap: 1em;
  }

  .social {
    width: auto;
  }

  .social-container {
    flex-direction: column;
    flex-wrap: nowrap;
    
  }

  .social-connect {
    /* display: flex; */
    /* align-items: center; */
  }

  .nav-social {
    display: flex;
    align-items: center;
  }

  .nav-social p{
    display: none;
    } 

    .nav-social li {
      padding-right: 1em;
      font-size: 0.7rem;
    }

  .others h5 {
    font-size: 0.8rem;
  }
  
  .link {
    font-size: 0.8rem;

  }
}

@media (max-width: 480px) {
  .footer-head {
    flex-direction: column-reverse;
    padding: 0;
  }

  .social-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
    padding: 0  1rem 1rem ;
  }

  .best-deal {
    display: flex;
    width: 100%;
    padding: 0 1rem;
  }
  
  .best-deal-desc h4 {
    font-size: 1rem;
  }
  
}
