
/* 
====== 
Variables 
======
*/
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
li {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}

/* 
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}
/* 
====== 
Navbar
======
*/
.navbar {
  background: var(--mainWhite);
  height: 5rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
}

.nav_header {

}

.nav_header .toggle_btn {
display: none;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  text-transform: capitalize;
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  margin-right: 0.5rem;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-decoration: none;
  overflow: hidden;
  padding: 0.25rem 0.3rem;
  transition: var(--mainTransition);
  flex-grow: 1;
}

 .tab:hover {
  text-align: center;
  background: #d3dfca;
  text-decoration: none;
}

 li.active{
  /* border: 1px solid; */
  text-align: center;
  border-radius: 2px;
  /* padding: 0 2px; */
  background: #d3dfca;
}

li .logo {
  width: 12rem;
  list-style-type: none;
  font-size: 20px;
  font-weight: 700;
}

.left-nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 2em;
}


/* 
=======
sidbar
=====
*/
.sidebar {
  height: 100%;
  width: 100%;
  max-width: 50%;
  background-color: var(--offWhite);

}

.show {
  display: block;
}

.hide {
  visibility: hidden;
}

.sidebar .hide {
  visibility: hidden;
}

.sidebar_list {
  border: 1px solid red;
}


/* 
==========
categories
==========
*/

.categories {
  background: var(--offWhite);
  box-shadow: var(--darkShadow);
  position: fixed;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: 3px;
  transition: var(--mainTransition);

}

.show {
  display: block;
}

.categories::before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.categories .show {
  display: block;
}

.submenu-center{
  display: grid;
  gap: 0.25rem 2rem;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr)
}

/* 
====== 
About
======
*/

.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 10em auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

/* =======
cart section
======== */
.cart-section{
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 8em;
}

.main_cart {
  position: relative;
}

.cart_amount{
position: absolute;
width: 20px;
height: 20px;
right: -15px;
bottom: 10px;
text-align: center;
border-radius: 50%;
background-color: var(--mainRed);
color: var(--offWhite);
}

.empty{
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.empty h1 {
  padding-top: 6em;
}

/*  user */
.user {
  cursor: pointer;
}
.user_page{

}

.user_container{
  margin: 1em auto;
  max-width: 30em;
}

.user_container h2,p, li {
  font-weight: 500;
}
/* 
=====
AddCart
====== */

.addcart_section {
  margin-bottom: 0.8em;
}

.cart-Container .cart_item {
margin-top: 7em  0;
margin-bottom: 2em;
display: flex;
gap: 1em;
max-width: 35em;
}

.cart-quantity{
  display: flex;
  gap: 5em;
  /* border: 1px solid red; */
}

.cart-quantity .cart_control{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}

.btn_remove {
  padding: 0.35rem 0.8rem;
  font-size: 0.5rem;
  color: var(--mainWhite);
  border: none;
  background: var(--primaryDarkColor);
}

.btn_remove:hover{
  padding: 0.35rem 0.8rem;
  background: rgb(212, 104, 104);
  display: inline-block;
  overflow: hidden;
} 

.cart-quantity .minus, .plus {
  max-width: 3em;

}

footer .check_out{
display: flex;
justify-content: space-between;
}


.testing{
display: flex;
align-items: center;
gap: 1em;
margin: 1em 0;
max-width: 8em;
background-color: var(--mainBackground) ;
border-radius: 3px;
}

.plus,
.minus{
width: 100%; 
text-align: center;
padding: 0.1rem;
cursor: pointer;
border: none;
}

/* 
====== 
Error
======
*/
.error-page {
  display: flex;
  justify-content: center;
}
.error-container {
  text-align: center;
  text-transform: capitalize;
}

/* 
====== 
prouct Item
======
*/

.section {
  padding: 2em 5rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 3.5rem;
}
.products-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}
@media screen and (min-width: 576px) {
  .products-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

/* 
====== 
product material
======
*/

.product-material {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}
.prodcuct-material:hover {
  box-shadow: var(--darkShadow);
}
.product-material img {
  height: 20rem;
  /* object-fit: cover; */
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.product-material-footer {
  padding: 1.5rem;
}
.product-material-footer h3,
.product-material-footer h4,
.product-material-footer p {
  margin-bottom: 0.3rem;
}
.product-material-footer h3 {
  font-size: 1rem;
}
.product-material-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}

/* 
====== 
Form
======
*/
.search {
  margin: 4em 5.5em 0 0;
  padding-bottom: 0;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}

/* 
====== 
product info
======
*/

.product-section {
  text-align: center;
  margin: 6em 0 0;
}
.product-item {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.product-item img {
  width: 15em;
  border-radius: var(--mainBorderRadius);
}
.product-item p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.product-item span {
  margin-right: 0.5rem;
}
.product-item-data {
  background: var(--primaryLightColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
}
.product-item-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .product-item {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 0.5rem;
    align-items: center;
  }
  .product-item-info {
    padding-top: 0;
  }
}
.loader,
.loader:before,
.loader:after {
  background: transparent;
  width: 1em;
  height: 4em;
}
.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}


